*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: Inter;
    background: rgba(239, 230, 230, 1);
    display: flex;
}

header {
    background: white;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 2rem;
}

nav p {
    color: rgba(200, 30, 30, 1);
    font-size: 1.3rem;
    font-weight: 800;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgba(200, 30, 30, 1);
}

main {
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.role {
    display: flex;
    gap: 1rem;
}

.role a {
    text-decoration: none;
    color: black;
    background: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

h1 {
    color: rgba(200, 30, 30, 1);
    font-size: 1.2rem;
}


.staff-header-desc h2 {
    font-size: 2.5rem;
    font-weight: 900;
}

.staff-task-info {
    display: flex;
    gap: 1rem;
}

.staff-task-amount, .staff-task-name {
    padding: 1rem;
    background: rgba(255, 243, 243, 1);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.staff-task-amount p:last-of-type, .staff-task-name p:last-of-type {
    font-size: 1.5rem;
    font-weight: 900;
}

.task-action {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.task-action-current {
    display: flex;
    gap: 1rem;
}

.task-action-current button {
    border: none;
    color: black;
    background: white;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.task-action-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background: rgba(255, 243, 243, 1);
    border-radius: 0.5rem;
}

.task-action-location {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

.task-action-location-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.task-action-location-info p:nth-of-type(2) {
    font-size: 2rem;
    font-weight: 900;
}

.task-action-location-responding {
    color: rgba(0, 136, 255, 1);
    padding: 0.5rem 1rem;
    background: rgba(0, 136, 255, 0.1);
    border-radius: 0.5rem;
}

.task-action-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

.task-action-form-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.task-action-form button {
    padding: 0.5rem 1rem;
    background-color: rgba(200, 30, 30, 1);
    color: white;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

.task-verify {
    background: rgba(255, 243, 243, 1);
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

.task-verify-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.task-verify-verifying {
    color: rgba(255, 204, 0, 1);
    background-color: rgba(255, 204, 0, 0.1);
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
}

.task-verify-info p:nth-of-type(2) {
    font-size: 1.5rem;
    font-weight: 900;
}