*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: Inter;
    background: rgba(239, 230, 230, 1);
    display: flex;
}

header {
    background: white;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 2rem;
}

nav p {
    color: rgba(200, 30, 30, 1);
    font-size: 1.3rem;
    font-weight: 800;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgba(200, 30, 30, 1);
}

main {
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.role {
    display: flex;
    gap: 1rem;
}

.role a {
    text-decoration: none;
    color: black;
    background: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

h1 {
    color: rgba(200, 30, 30, 1);
    font-size: 1.2rem;
}

.saas-operator-header h2, .saas-operator-title {
    font-size: 2.5rem;
    font-weight: 900;
}

/* Overview Page */

.overview-details {
    display: flex;
    gap: 1rem;
}

.overview-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: rgba(255, 243, 243, 1);
    padding: 1rem;
    border-radius: 0.5rem;
    min-width: 10rem;
}

.overview-card p:last-of-type {
    font-size: 1.5rem;
    font-weight: 900;
}

.live-feed-container {
    display: flex;
    flex-direction: column;
    background: rgba(255, 243, 243, 1);
    padding: 1rem;
    border-radius: 0.5rem;
    gap: 1rem;
}

.live-feed-container-info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}

.live-feed-container-info p:last-of-type {
    font-weight: bold;
}

/* Institution Page */

.institution-states {
    display: flex;
    gap: 1rem;
}

.institution-states button {
    border: none;
    padding: 0.5rem 1rem;
    min-width: 7rem;
    border-radius: 0.5rem;
    background: rgba(255, 243, 243, 1);
    cursor: pointer;
}

.institution-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.institution-card {
    background: rgba(255, 243, 243, 1);
    padding: 1rem;
    border-radius: 0.5rem;    
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.institution-card-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.institution-card-info p:nth-of-type(2) {
    font-size: 1.5rem;
    font-weight: 900;
}

.institution-card-info p:last-of-type {
    font-style: italic;
}

/* All Incidents Page */

.all-incidents-states {
    display: flex;
    gap: 1rem;
}

.all-incidents-states p {
    background: rgba(255, 243, 243, 1);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.all-incidents-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.all-incidents-card {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    background: rgba(255, 243, 243, 1);
    padding: 1rem;
    border-radius: 0.5rem;
}

.all-incidents-card-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.all-incidents-card-info p:nth-of-type(2) {
    font-size: 1.5rem;
    font-weight: 900;
}

.all-incidents-card-verifying {
    color: rgba(255, 204, 0, 1);
    background: rgba(255, 204, 0, 0.1);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

/* AI Performance */

.ai-performance-stats {
    display: flex;
    gap: 1rem;
}

.ai-performance-stats-card {
    display: flex;
    flex-direction: column;
    background: rgba(255, 243, 243, 1);
    padding: 1rem;
    border-radius: 0.5rem;
    width: 10rem;
    gap: 1rem;
}

.ai-performance-stats-card p:last-of-type {
    font-size: 1.5rem;
    font-weight: 900;
}

.routing-rules, .recent-decisions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: rgba(255, 243, 243, 1);
    border-radius: 0.5rem;
    padding: 1rem;
}

.routing-rules h3, .routing-rules p, .recent-decisions h3, .recent-decisions-info{
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}


.recent-decisions-info {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

/* Relay Health Page */

.relay-health-stats {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.relay-health-stats-card {
    background: rgba(255, 243, 243, 1);
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 7rem;
}

.relay-health-stats-card p:last-of-type {
    font-size: 1.5rem;
    font-weight: 900;
}

.packets-relayed {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: rgba(255, 243, 243, 1);
    border-radius: 0.5rem;
    padding: 1rem;
}

.packets-relayed h3 {
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}

/* system Health Page */

.system-health-container {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 1rem;
    background: rgba(255, 243, 243, 1);
    gap: 1rem;
}

.system-health-container-info {
    display: flex;
    justify-content: space-between;
}

.system-health-container h3, .system-health-container-info {
    border-bottom: 2px solid black;
    padding: 1rem;
}

/* Audit Log Page */

.audit-log-container {
    display: flex;
    flex-direction: column;
    background: rgba(255, 243, 243, 1);
    padding: 1rem;
    border-radius: 0.5rem;
    gap: 1rem;
}

.audit-log-info {
    border-bottom: 2px solid black;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.audit-log-info-time {
    display: flex;
    gap: 1rem;
}